<div class="jumbotron container">
    <h1 class="display-3">Schools</h1>
    <p class="lead">This is another placeholder message</p>
<div class="row">
    <div class="col-md-4">
        <%= button_to "Teachers Workshops", schools_teachersworkshops_path , method: :get, class: "btn btn-lg btn-secondary-outline" %>
    </div>
    <div class="col-md-4">
        <%= button_to "Students Workshops", schools_studentsworkshops_path, method: :get, class: "btn btn-lg btn-secondary-outline" %>
    </div>
    <div class="col-md-4">
        <%= button_to "Book a Kit", schools_bookakit_path, method: :get, class: "btn btn-lg btn-secondary-outline" %>
    </div>
</div>

</div>
<script>
    $(document).ready(function(){
        $.backstretch("<%= asset_path('schools.png') %>");
});
</script>

