<div class="jumbotron container listed">
    <h1>A Teacher's Workshop</h1>
    <ul class="fa-ul description">
        <li><i class="fa-li fa fa-check-square"></i>Focuses on increasing activity-based learning, sutdents understand better when they DO things</li>
        <li><i class="fa-li fa fa-check-square"></i>Aims at bringing fun and enjoyment back to teaching science</li>
        <li><i class="fa-li fa fa-check-square"></i>Gives teachers the confidence to innovate in the classroom</li>
    </ul>
</div>
<script>
$(document).ready(function(){
    $.backstretch("<%= asset_path('teachersworkshops.png') %>");
});
</script>
